
/* Below is taken/modified from https://github.com/markdowncss/retro */

* {
  box-sizing: border-box;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media screen and (max-width: 424px) {
  html {
    font-size: 14px;
  }

  ul.topnav a {
    float: none;
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  html {
    font-size: 18px;
  }
}


a,
a:visited {
  color: #01ff70;
}

a:hover,
a:focus,
a:active {
  color: #2ecc40;
}

.no-decoration {
  text-decoration: none;
}

body {
  line-height: 1.85;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
h2,
h3,
h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414rem;
}

h5 {
  font-size: 1.121rem;
}

h6 {
  font-size: .88rem;
}

small {
  font-size: .707em;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html,
body {
  background-color: #222;
  min-height: 100%;
}

.markdown-body,
body {
  color: #fafafa;
  font-family: "Courier New";
  line-height: 1.45;
  margin: 4rem auto 1rem;
  max-width: 48rem;
  padding: .25rem;
}

.markdown-body {
  margin: 0;
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: auto;
}

pre {
  background-color: #333;
}

blockquote {
  border-left: 3px solid #01ff70;
  padding-left: 1rem;
}

input[type=submit],
input[type=reset],
input[type=text],
textarea {
  border: 1px solid #fafafa;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 14px;
  width: 100%;
  outline: none;
  transition: 0.5s;
}

textarea {
  resize: none;
  height: 240px;
}

input[type=submit],
input[type=reset] {
  width: auto;
  padding: 2%;
}

input[type=text]:focus,
textarea:focus {
  border: 1px solid #01ff70;
}

input[type=submit]:hover,
input[type=reset]:hover {
  color: black;
  background-color: #01ff70;
  border: 1px solid transparent;
  cursor: pointer;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
}

ul.topnav a {
  float: left;
  display: block;
  color: inherit;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  transition: 0.5s;
  border-right: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}

ul.topnav a:hover,
ul.topnav a.active {
  background-color: #01ff70;
  color: black;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}